:root {
    --title-menu-color: #2E2F42;
    --main-text-color: #434455;
    --hero-footer-background-color: #2E2F42;
    --team-background-color: #F4F4FD;
    --footer-text-color: #F4F4FD;
    --index-body-background: #FFFFFF;
    --logo-color:  #4d5ae5;
    --header-accent-color: #2e2f42;
    --footer-accent-color:  #f4f4fd;
    --portfolio-body-color: #434455;
    --portfolio-btn-background: #F4F4FD;
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/**---------Index.html----------*/
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: var(--index-body-background);
}

.link { 
    text-decoration: none;
}

.list {
    list-style-type: none;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 100%;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 2px solid red;
}

/**---------HEADER----------*/

.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--logo-color);
    text-transform: uppercase;
    margin-right: 76px;
}

.header-logo-accent {
    color: var(--header-accent-color);
}

.header-nav {
    display: flex;
    margin-right: auto;
    align-items: center;
}

.header-menu {
    display: flex;
    gap: 40px;
}

.header-menu-link {
    display: flex;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-menu-color);
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color var(--transition);
}

.header-menu-link:hover,
.header-menu-link:focus {
    color: #404BBF;
}

.current {
    position: relative;
    color: #404bbf;
}

.current:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px; 
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
}

.header-address {
    font-style: normal;
}

.header-address-list {
    display: flex;
    gap: 40px;
    align-items: center;
}

.header-address-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    transition: color var(--transition);
}

.header-address-link:hover,
.header-address-link:focus {
    color: #404BBF;
}

/**---------HERO----------*/

.hero {
    background-color: var(--hero-footer-background-color);
    background-image: url(../images/people-office.jpg);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    margin: 0 auto;
}

.hero-container {
    display: block;
}

.hero-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
}

.hero-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    gap: 10px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    margin: 0 auto;
    transition: background-color var(--transition);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/**---------Benefits----------*/

.benefits {
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
 
.benefits-list {
    display: flex;
    gap: 24px;
}

.benefits-item-block {
    width: 264px;
    height: 112px;
    background-color: #F4F4FD;
    border-radius: 4px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
 }

.benefits-item {
    width: calc((100% - 72px/4));
}

.benefits-item-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-menu-color);
    margin-bottom: 8px;
}

.benefits-item-text {
    max-width: 264px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

/**---------Products----------*/

.products {
    padding-bottom: 120px;
}

.products-list {
    display: flex;
    gap: 24px;
}

.products-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-menu-color);
    text-align: center;
    margin-bottom: 72px;
}

.products-item {
    width: calc((100% - 48px) / 3); 
}

/**---------Team----------*/

.team {
    background: var(--team-background-color);
    width: 100%;
    padding-top: 120px;
}

.team-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-menu-color);
    text-align: center;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    background-color: #FFFFFF;
    width: calc((100%-72px)/4);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
                0px 1px 1px 0px rgba(46, 47, 66, 0.16),
                0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-item-container {
    padding: 32px 0 32px;
}

.team-item-subtitle {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-menu-color);
    text-align: center;
}

.team-item-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    text-align: center;
    margin-bottom: 8px;
}

.team-soc {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.team-soc-item {
    width: 40px;
    height: 40px;
}

.team-soc-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--transition);
}

.team-soc-link:hover, 
.team-soc-link:focus {
    background-color: #404bbf;
}

.team-soc-icon {
    fill: #f4f4fd;
}

/**---------Customers----------*/

.customers {
    padding-top: 120px;
    padding-bottom: 120px;
}

.customers-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-menu-color);
    text-align: center;
}

.customers-list {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.customers-item {
    width: calc((100% - 120px)/6);
    height: 88px;
}

.customers-item-link {
    width: 100%;
    height: 100%;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:  #8E8F99;
    transition: border-color var(--transition), color var(--transition);
}

.customers-item-icon {
    fill: currentColor;
}

.customers-item-link:hover, 
.customers-item-link:focus {
    color: #404BBF;
    border-color: #404BBF;
} 

/**---------Footer----------*/

.footer {
    background-color: var(--hero-footer-background-color);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-logo-text {
    margin-right: 120px;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--logo-color);
    text-transform: uppercase;
    margin-bottom: 16px;
}

.footer-logo.link {
    display: inline-block;
}

.footer-logo-accent {
    color: var(--footer-accent-color);
}

.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--footer-text-color);
    max-width: 264px;
}


.footer-soc-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.footer-soc-list {
    display: flex;
    gap: 16px;
}

.footer-soc-item {
    width: 40px;
    height: 40px;
}

.footer-soc-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--transition);
}

.footer-soc-icon {
    fill: #f4f4fd;
}

.footer-soc-link:hover, 
.footer-soc-link:focus {
    background-color: #31D0AA;
}

.footer-subscribe-form {
    margin-left: 80px;
}

.footer-form {
    display: flex;
    gap: 24px;
}

.footer-input {
    width: 264px;
    height: 40px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #FFFFFF;
}

.footer-input::placeholder {
    color: #FFFFFF;
}
   
.footer-btn {
    min-width: 165px;
    height: 40px;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.footer-form-icon {
    margin-left: 16px;
    fill: #ffffff;
}

.backdrop {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    transition: opacity  var(--transition), visibility var(--transition);
    background-color: rgba(46, 47, 66, 0.4);
}
 
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--transition);
    width: 408px;
    min-height: 584px;
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px; 
    padding: 72px 24px 24px 24px;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.modal-btn {
    position: absolute;
    right: 24px;
    top: 24px;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    background-color: #E7E9FC;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--transition), border var(--transition); 
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #404bbf; 
    border: none;
    color: #ffffff;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal-icon {
    fill: currentColor;
    transition: fill var(--transition);
}

.modal-title {
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
} 

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    padding-right: 16px;
    outline: transparent;
    transition: border-color var(--transition);
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-input:focus + .input-icon {
    fill: #4D5AE5;
}

.modal-field {
    margin-bottom: 8px;
}

.modal-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    display: block;
    margin-bottom: 4px;
}

.input-wrap {
    position: relative;
}

.input-icon {
    fill: currentColor;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill var(--transition);
}

.modal-field-textarea {
    margin-bottom: 16px;
}

.modal-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color var(--transition);
}

.modal-textarea:focus {
    border-color: #4D5AE5;
}

.modal-field-check {
    margin-bottom: 24px;
}

.check-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.check-text-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color var(--transition), border var(--transition), fill var(--transition);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.check-link {
    color: #4D5AE5;
    text-decoration: underline;
}

.input-check:checked + .check-text span {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD; 
}

.modal-form-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 16px 32px;
    background-color: #4D5AE5;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    margin: 0 auto;
    transition: background-color var(--transition);
}

.modal-form-btn:is(hover, :focus) {
    background-color: #404BBF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/**---------Portfolio.html----------*/

body {
    font-family: 'Roboto', sans-serif;
    color: var(--portfolio-body-color);
}
/**---------Header----------*/

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--logo-color);
    text-transform: uppercase;
}

.header-logo-accent {
    color: var(--header-accent-color);
}

.header-menu-link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-menu-color);
}

.current {
    position: relative;
    color: #404bbf;
}

.header-menu-link:hover,
.header-menu-link:focus {
    color: #404BBF;
}

.header-address {
    font-style: normal;
}

.header-address-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.header-address-link:hover,
.header-address-link:focus {
    color: #404BBF;
}

/**---------Main----------*/

.section-portfolio {
    padding-top: 96px;
    padding-bottom: 120px; 
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.buttons-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.section-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    background-color: var(--portfolio-btn-background);
    cursor: pointer;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    border: 1px solid #e7e9fc;
    border-radius: 4px;
    transition: color var(--transition), background-color var(--transition), border-color var(--transition), box-shadow var(--transition);
}

.section-btn:hover,
.section-btn:focus {
    color: #FFFFFF;
    background-color: #404BBF;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12); 
}

.examples-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.examples-item {
    width: calc((100% - 48px) / 3);
}

.examples-item-link {
    display: block;
    transition: box-shadow var(--transition);
}

.examples-item-link:hover,
.examples-item-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.examples-cover-div {
    position: relative;
    overflow: hidden;
}

.products-cover-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    padding: 40px 32px; 
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform var(--transition);
}

.examples-item-link:hover .products-cover-text, 
.examples-item-link:focus .products-cover-text {
    transform: translateY(0%);
}

.examples-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.examples-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-menu-color);
    margin-bottom: 8px;
}

.examples-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

/**---------Footer----------*/

.footer {
    background-color: var(--hero-footer-background-color);
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    color: var(--logo-color);
    text-transform: uppercase;
}

.footer-logo-accent {
    color: var(--footer-accent-color)
}

.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--footer-text-color);
}
